__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
unidoc/.env
.env.*

/vir/
/approved_documents/
/qr_codes/
/documents/approved_documents/
/documents/qr_codes/
/media/
/documents/20*/
/documents/documents/
