services:
  - type: web
    name: unidoc
    env: python
    buildCommand: "pip install -r requirements.txt && python manage.py migrate && python manage.py collectstatic --noinput"
    startCommand: "gunicorn unidoc.wsgi:application"
